h1{
    font-style: oblique;
    font-size: xx-large;
    
}


main{
    text-align:center ;
    font-size: 150%;
    

    font-style: oblique;
}
body{
    background-color: darkseagreen;
    margin: 2%;
    
}
main{
    font-weight: 900;
    font-style: oblique;
}
h2{
    font-style: oblique;
    
}
h3{
    font-style: oblique;
    text-align:center ;
}
section{
    font-size:150%;
    font-weight:90%;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-variant:normal;
     
}
p{
    font-weight:bold;
}
details{
    font-style: italic;
}
summary{
    font-style: normal;
}
